* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: bisque;
}

.search {
    top: 50;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    background: rgb(152, 8, 128);
}

input {
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
}



select {
    width: 15%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(115, 113, 113);

    box-sizing: border-box;
    background-color: white;
}

button {
    padding: 0.3rem 2rem;
    margin-left: 10px;
    background: tomato;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
}

.gallery {
    width: 90%;
    margin: 10px 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(5, 200px);
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
}

.gallery div{
    position: relative;

}
img{
    margin-left: 5px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
